.*
!.mvn
!.bowerrc
!.editorconfig
!.eslintrc
!.yo-rc.json
!.tsdrc
!.gitignore
*.bak
*.log
*.diff
*.patch
*.iml
bin
eclipse-target
target
node_modules
bower_components
typings
dist
test-output

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
